html {
    margin: 0;
    padding: 0;
    height: 100vw;
}

.contenedor {
    display: grid;
    grid-template-columns: 10vw 10vw auto;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
}

.elemento {
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elemento-1 {
    background-color: rgb(46, 60, 184);
    grid-area: 1 / 1 / 1 / 3;
}

.elemento-2 {
    background-color: rgb(137, 71, 212);
    grid-area: 2 / 1 / 2 / 3;
}

.elemento-3 {
    background-color: rgb(206, 141, 236);
    grid-area: 3 / 1 / 3 / 3;
}

.seccion-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 2em;
    background-color: aquamarine;
    grid-area: 1 / 3 / 40 / 4;
}

@media all and (max-width: 640px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 400px 50px 50px;
        gap: 10px;
    }

    .seccion-principal {
        font-size: 1.6em;
        grid-area: 1 / 1 / 3 / 4;
    }
    
    .elemento {
        font-size: 1.2em;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .elemento-1 {
        background-color: rgb(46, 60, 184);
        grid-area: 3 / 1 / 3 / 1;
    }
    
    .elemento-2 {
        background-color: rgb(137, 71, 212);
        grid-area: 3 / 2 / 3 / 2;
    }
    
    .elemento-3 {
        background-color: rgb(206, 141, 236);
        grid-area: 3 / 3 / 3 / 3;
    }
    
}